:root {
    --tp-theme-primary: #4260FF;
    --tp-theme-sec: #131683;
    --tp-theme-green: #59BA41;
    --tp-theme-blue: #775AFC;
    --tp-pastel-red: #FF6C66;
    --tp-heading-color: #0C1338;
    --tp-body-color: #565764;
    --tp-body-color-2: #55585B;
    --tp-common-white: #fff;
    --tp-common-black: #000;
    --tp-rich-black: #010F1C;
    --tp-light-yellow: #FFCE5A;
    --tp-dark-yellow: #FFB21D;
    --tp-dark-yellow-2: #FFB34E;
    --tp-text-1: #271D3A;
    --tp-common-1: #3EB9FF;
    --tp-common-2: #ABBF78;
    --tp-common-3: #FFB876;
    --tp-common-4: #FFA0C9;
    --tp-grey-1: #6C6E76;
    --tp-grey-3: #93959F;
    --tp-grey-4: #8A8A8D;
    --tp-grey-5: #C3C4CD;
    --tp-grey-6: #ADB0B4;
    --tp-grey-7: #3D4246;
    --tp-grey-8: #7B8187;
}
