@use '../../utils' as *;

.tp-contact{
    &-bg{
        background-color: #05003B;
    }
    &-section{
        &-sub-title{
            display: inline-block;
            position: relative;
            & span {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-56%);
                color: var(--tp-common-white);
                font-weight: 600;
                font-size: 16px;
                width: max-content;
            }
        }
        &-title{
            font-size: 34px;
            color: var(--tp-common-white);
        }
    }
    &-bottom{
        padding: 50px 40px;
        background: rgba(255, 255, 255, 0.06);
        border: 1px solid rgba(255, 255, 255, 0.08);
        border-radius: 20px;
        @media #{$lg}{
            margin-right: 30px;
        }
        @media #{$md,$sm,$xs}{
            margin-right: 0;
        }
    }
    &-info-item{
        display: block;
        font-size: 17px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.8);
        & span{
            display: inline-block;
            margin-right: 18px;
        }
    }
    &-social{
        & a{
            display: inline-block;
            width: 38px;
            height: 38px;
            color: rgba(255, 255, 255, 0.7);
            background: #312C61;
            border: 1px solid rgba(255, 255, 255, 0.08);
            border-radius: 50%;
            text-align: center;
            line-height: 38px;
            @include transition(.3s);
            &:hover{
                background-color: var(--tp-theme-primary);
                border-color: var(--tp-theme-primary);
                color: var(--tp-common-white);
                opacity: 1;
            }
            &:not(:first-child){
                margin-left: 5px;
            }
        }
    }
    &-title {
        font-size: 40px;
        color: var(--tp-common-white);
    }
    &-form{
        &-wrapper{
            padding: 50px;
            background: rgba(255, 255, 255, 0.06);
            border: 1px solid rgba(255, 255, 255, 0.08);
            border-radius: 20px;
            @media #{$xs}{
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        &-box{
            & input, textarea{
                padding-left: 24px;
                color: var(--tp-common-white);
                background: #312C61;
                border: 2px solid rgba(255, 255, 255, 0.08);
                border-radius: 8px;
                margin-bottom: 20px;
                &::placeholder{
                    color: rgba(255, 255, 255, 0.6);
                }
                &:focus{
                    background: #1F1C4A;
                    border: 2px solid #4260FF;
                    border-radius: 8px;
                }
            }
            & textarea{
                height: 180px;
            }
        }
        &-wrapper-3{
            padding: 50px;
            border-radius: 20px;
            background: linear-gradient(62deg, #ff847f 40%, #a44cee 51.6%,  #501e9c 70% );
            box-shadow: 0 20px 40px 0 rgba(36, 7, 66, 0.13);
            @media #{$xs}{
                padding-left: 20px;
                padding-right: 20px;
            }
            &::before{
                position: absolute;
                content: "";
                left: 0;
                right: 0;
                top: 4px;
                z-index: -1;
                width: 100%;
                height: 100%;
                background: var(--tp-common-white);
                border-radius: 20px;
            }
        }
        &-box-3{
            position: relative;
         
            & input, textarea{
                padding-left: 24px;
                font-family: var(--tp-jakarta);
                color: var(--tp-rich-black);
                background-color: #F4F4F4;
                border: 2px solid transparent;
                border-radius: 30px;
                margin-bottom: 20px;
                &::placeholder{
                    color: #777D83;
                }
                &:focus{
                    background: var(--tp-common-white);
                    border: 2px solid #775AFC;
                    border-radius: 30px;
                }
            }
            & textarea{
                height: 180px;
            }
        }
    }
    &-shape{
        &-line{
            z-index: -2;
            bottom: 0;
            left: 0;
        }
        &-one{
            left: -70px;
            top: 90px;
            z-index: -2;
        }
        &-two{
            bottom: 50px;
            right: -50px;
            z-index: -2;
        }
    }
    &-num {
        font-size: 24px;
        font-family: var(--tp-jakarta);
        font-weight: 600;
        color: var(--tp-pastel-red);
        margin-bottom: 5px;
    }
    &-email {
        font-size: 15px;
        font-family: var(--tp-jakarta);
        color: var(--tp-body-color-2);
    }
    &-btn-3{
        background: #FFFFFF;
        border: 2px solid rgba(1, 15, 28, 0.1);
        border-radius: 100px;
        color: var(--tp-rich-black);
        &:hover{
            color: var(--tp-theme-blue);
            border-color: var(--tp-theme-blue);
            background-color: transparent;
        }
    }
    &-3-shape{
        &-bg{
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
        }
        &-1{
            bottom: 0;
            left: 0;
            z-index: -1;
        }
        &-2{
            bottom: 20px;
            right: 35%;
            z-index: -1;
        }
        &-3{
            right: 6%;
            bottom: 0;
            z-index: -1;
        }
        &-4{
            right: 18%;
            bottom: 30%;
        z-index: -1;
        }
    }
}




