@use '../../utils' as *;

.tp-funfact{
    &-bg{
        border-radius: 30px;
    }
    &-space{
        margin: 0 -65px;
    }
    &-shape{
        &-one{
            left: -10%;
            top: -50%;
            @media #{$lg}{
                left: -18%;
            }
            @media #{$md}{
                left: -35%;
            }
            @media #{$sm}{
                left: -47%;
                top: -55%;
            }
            @media #{$xs}{
                display: none;
            }
        }
        &-two{
            right: -10%;
            bottom: -30%;
            @media #{$lg}{
                right: -15%;
                bottom: -35%;
            }
            @media #{$md}{
                right: -30%;
                bottom: -40%;
            }
            @media #{$sm}{
                right: -40%;
                bottom: -50%;
            }
            @media #{$xs}{
                display: none;
            }
        }
    }
    &-box{
        padding: 50px 70px;
        background-color: var(--tp-common-white);
        box-shadow: 0px 25px 70px rgba(8, 10, 55, 0.1);
        border-radius: 14px;
        text-align: center;
        @media #{$xl}{
            padding-left: 55px;
            padding-right: 55px;
        }
        @media #{$lg}{
            padding: 50px;
        }
        @media #{$xs}{
            padding: 20px 5px;
        }
        &-wrapper{
            position: relative;
            z-index: 2;
            margin-top: -145px;
        }
    }
    &-title{
        font-size: 18px;
        font-weight: 500;
        color: var(--tp-grey-4);
        margin-bottom: 20px;
    }
    &-count{
        font-size: 60px;
        font-weight: 600;
        color: var(--tp-theme-sec);
        letter-spacing: -0.02em;
        line-height: 46px;
        & span{
            font-size: 40px;
            line-height: 46px;
        }
    }
    &-tag{
        margin-top: 5px;
       & span{
            font-size: 18px;
            font-weight: 500;
            color: var(--tp-grey-4);
            display: inline-block;
            &:last-child{
                margin-left: 40px;
            }
            & svg{
                display: inline-block;
                transform: translate(-5px,-2px);
            }
        }
    }
    &-item-2{
        padding: 40px;
        padding-bottom: 20px;
        @media #{$sm,$xs}{
            padding: 20px;
        }
        & .tp-funfact{
            &-count{
                font-size: 50px;
                font-family: var(--tp-dmsans);
                color: var(--tp-rich-black);
                @media #{$sm}{
                    font-size: 45px;
                }
                @media #{$xs}{
                    font-size: 40px;
                }
                & span{
                    font-size: inherit;
                }
            }
        }
    }
    &-text{
        font-size: 16px;
        font-family: var(--tp-dmsans);
        color: var(--tp-body-color-2);
        & span{
            font-weight: 500;
            color: var(--tp-rich-black);
        }
    }
}

.tp-social{
    position: relative;
    @include transition(.3s);
    &:hover{
        opacity: 1;
        & .tp-social{
            &-bg{
                opacity: 1;
                transform: scale(1.035, 1.3);
            }
            &-text{
                border-color: transparent;
                & a{
                    color: var(--tp-common-white);
                    & i {
                        color: var(--tp-common-white);
                    }
                }
            }
        }
    }
    &-bg{
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        top: 0;
        left: 0;
        @include transition(.3s);
        opacity: 0;
    }
    &-text{
        border: 1px solid rgba(1, 15, 28, 0.1);
        & a{
            display: flex;
            align-items: center;
            width: 100%;
            padding: 23px 30px;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.2;
            font-family: var(--tp-dmsans);
            & i {
                font-size: 30px;
                margin-right: 10px;
            }
        }
    }
    &-facebook{
        &:hover{
            opacity: 1;
        }
        & i {
            color: #1877F2;
        }
        & .tp-social-bg {
            opacity: 0;
            background: linear-gradient(266.81deg, #1877F2 -6.56%, #1877F2 34.02%, #1877F2 60.87%, #4284dc 103.55%);
        }
    }
    &-instagram{
        &:hover{
            opacity: 1;
        }
        & i {
            color: #FE005F;
        }
        & .tp-social-bg {
            opacity: 0;
            background: linear-gradient(266.81deg, #D500BF -6.56%, #F80095 34.02%, #FF005D 60.87%, #FFC300 103.55%);
        }
    }
    &-pinterest{
        &:hover{
            opacity: 1;
        }
        & i {
            color: #FE005F;
        }
        & .tp-social-bg {
            opacity: 0;
            background: linear-gradient(266.81deg, #FE005F -6.56%, #FE005F 34.02%, #FE005F 60.87%, #FE005F 103.55%);
        }
    }
    &-twitter{
        &:hover{
            opacity: 1;
        }
        & i {
            color: #26A8FF;
        }
        & .tp-social-bg {
            opacity: 0;
            background: linear-gradient(266.81deg, #26A8FF -6.56%, #26A8FF 34.02%, #26A8FF 60.87%, #26A8FF 103.55%);
        }
    }
}

.tp-fact{
    &-item-border{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 2px;
            height: 80px;
            background-color: rgba(255,255,255,0.14);
            left: -85px;
            top: 50%;
            transform: translateY(-50%);
        }
        &::after{
            content: "";
            position: absolute;
            width: 2px;
            height: 80px;
            background-color: rgba(255,255,255,0.14);
            right: -85px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &-inner{
        padding: 41px 180px;
        background: linear-gradient(90.97deg, #8A4AF8 2.52%, #A14AF8 99.41%);
        box-shadow: 0px 20px 20px rgba(64, 16, 120, 0.18);
        border-radius: 20px;
        
    }
    &-icon{
        & span{
            line-height: 40px;
        }
    }
    &-count {
        font-size: 40px;
        font-family: var(--tp-jakarta);
        color: var(--tp-common-white);
        line-height: 1.05;
        margin-bottom: 0;
    }
    &-content{
        & p {
            font-size: 14px;
            font-family: var(--tp-jakarta);
            color: var(--tp-common-white);
            margin-bottom: 0;
        }
    }
    &-shape{
        &-1{
            left: -25%;
            top: -10%;
          }
          &-2{
            left: -15%;
            top: 70%;
          }        
          &-3{
            right: -30%;
            top: -25%;
        }
    }
}


